body {
    background-color: #2E2E3A;
    text-align: center;
}

/* main {

} */

nav {
    background-color: #5E5E75;
    padding: 10px;
    border: solid #E6EEF0 2px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color:#E6EEF0;
    font-size: 1.5em;
    text-decoration: none;
}

nav a:hover {
    color:#3D3D4E;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: #E6EEF0;
}

.hero-image {
    background-image: url('/images/hero-img2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    border-radius: 10px;
}

p {
    color: #E6EEF0;
}

.error-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/images/404-image.jpg');
    background-position: center;
}

.guestbook-index {
    color: #E6EEF0;
}

/* Adjustments for form */
.container {
    color: #E6EEF0; /* Form text color */
}

.form-label {
    color: #E6EEF0; /* Label text color */
}

.form-control {
    background-color: #3D3D4E; /* Input background color */
    color: #E6EEF0; /* Input text color */
    border-color: #5E5E75; /* Input border color */
}

.btn-primary {
    background-color: #5E5E75; /* Button background color */
    border-color: #5E5E75; /* Button border color */
    color: #E6EEF0; /* Button text color */
}

.btn-primary:hover {
    background-color: #3D3D4E; /* Hover background color */
    border-color: #3D3D4E; /* Hover border color */
    color: #E6EEF0; /* Hover text color */
}

footer {
    background-color: #5E5E75;
    color:#E6EEF0;
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
}


/* coolor palletes? #E6EEF0, 2E2E3A, A799B7 */